
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* wooshh */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #6a0dad, #ff8c00);
    font-family: Arial, sans-serif;
}

/* Cabeçao */
header,footer {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
footer {
    
    text-align: center;
    padding: 15px 0;
    width: 100%;
}
/* Caixa que segura tudo */
.container,
.content,
#modulos {
    background: rgba(68, 37, 20, 0.295);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
   
}

/* Só pra não ficar um bloco morto */
.left,
.right {
    height: 100px;
    background: #4e195c;
    border-radius: 8px;
}

/* Texto */
#text {
    line-height: 1.6;
    color: azure;
    text-align:left;
}

/* Módulos */
#modulos ul {
    margin-bottom: 20px;
    color: azure;
    
}

#modulos ul > li {
    margin-left: 20px;
    align-items: center;
}
